# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# vape
lib/vape_v4.04_2021.3.20.1134.jar
src/main/resources/obfmap-v4.04-20210320-1331.json